:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #e22c2f;
  --secondary-color: #1b1175;
  --accent-color: #a8a8a8;
  --primary-color-dark: #b71c1f;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0.5rem;
}

main{
  margin: 2rem;
  max-width: 43rem;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

textarea {
  resize: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: transparent;
  padding: 0.5rem;
  padding-bottom: 2rem;
  border-radius: 0.4rem;
  border: 1px solid rgba(172, 172, 172, 0.2);
  transition: border 0.2s;
  width: 100%;
  color: #171717;
}

textarea:focus {
  outline: none;
  border: 1px solid rgba(69, 69, 69, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 43rem;
}

h1{
  text-align: center;
}

h2{
  font-size: 1.5rem;
  font-weight: 600;
} 

.container,
.card {

  background: var(--background);
  color: var(--foreground);
  border-radius: 0.5rem;
  box-shadow: 0.5rem 1rem 1.5rem rgba(198, 198, 198, 0.3);
  border: 1px solid rgba(172, 172, 172, 0.2);
}


.card {
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;

}

.container{
  padding: 0.5rem;
}

svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: white;
  fill: white;

}


/* Input radio includes some margin to the right */
input[type="radio"] {
  margin-right: 0.5rem;
}
